/* CSS to show the grid */
code, pre {
  font-family: "Source Code Pro", Consolas, Menlo, Monaco, monospace;
  background: #f1f1f1;
  color: #333;
  padding: 3px;
  border-radius: 5px;
  h2 {
      margin-left: 2em;
  }
}